---
layout: framework

---

<!-- <div style="position: relative;float: left">
<img src="../assets/images/1.png" width="10%">
</div>

<table><tr>
  <td><img src="../assets/images/erc.jpeg" width="10%"></td>
  <td><img src="../assets/images/1.png" width="10%"></td>
  </tr></table> -->

  <p style="text-align:justify">
  <b><i>How do human societies develop, maintain and enhance its resilience to floods?</i></b>
  </p>

  <p style="text-align:justify;line-height:120%">
  Over years, the populations living at flood prone areas such as coasts, river deltas, flood plains, and hilly valleys have not only survived but actually prospered. Many of such examples demonstrated a resilience of human society to floods and their impacts, which however has not been sufficiently studied.
  </p>

  <p style="text-align:justify;line-height:120%">
  STORIES proposes an innovative resilience thinking (instead of risk thinking) in flood studies and investigates the social resilience to flood hazards with a historical perspective. As a primary case study, the historical Tea Horse Road (THR) area at the Southeast Tibetan Plateau will be examined with its well-documented history going back over 600 years. STORIES will set up a theoretical framework on the multi-spatial-temporal features of flood resilience while considering the governance,technology, society, and culture perspectives. A set of quantitative proxy data, historical archives, literature re-analysis, statistical data, observation data and field survey data will be integrated into both the empirical study in the case areas and the agent-based modelling across the cases. The findings will be transferred to and compared with other problem regions such as the Mekong Delta, thereby making a pioneering contribution in the emerging research field of flood resilience.
  </p>

  <p>
  More >>

<br><a href="https://cordis.europa.eu/project/id/101040939">Information of STORIES at CORDIS – the EU Research Results site</a>

<br><a href="https://www.geographie.uni-muenchen.de/department/fiona/forschung/projekte/index.php?projekt_id=342">STORIES webpage at LMU Munich</a>

<br><a href="https://www.lmu.de/en/newsroom/news-overview/news/how-can-you-live-here-.html">STORIES in LMU news (article and video)</a>

  </p>

  <br>
  <div style="width:80%;margin-left:auto;margin-right:auto">
      <div style="width:50%;float:left;text-align:center">
       <img src="../assets/images/erc.png" width="100%">
      </div>
      <div style="width:50%;float:right;text-align:center">
        <img src="../assets/images/logo1.png" width="100%">
        </div>
      </div>

<br>
    <br><p style="width:80%;text-align:justify;font-size: 10px;line-height:100%">
    The STORIES project is funded by the European Union (ERC Starting Grant, STORIES, 101040939). Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Research Council. Neither the European Union nor the granting authority can be held responsible for them.
     </p>
