---
layout: framework

---

<!-- <div style="position: relative;float: left">
<img src="../assets/images/1.png" width="10%">
</div>

<table><tr>
  <td><img src="../assets/images/erc.jpeg" width="10%"></td>
  <td><img src="../assets/images/1.png" width="10%"></td>
  </tr></table> -->
  <h2>About</h2>

  <p>
  Existing studies on how societies deal with the issue of flooding overwhelmingly
  concentrate on risk, exposure, vulnerability, damage, loss, and adaptation needs,
  most of which adopt a negative perspective. Yet the populations living at coasts,
  river deltas, flood plains, and hilly valleys – i.e. a wide variety of regions that
  are potentially threatened by flooding – have not only survived, but actually prospered.
  Despite many of such examples, there has been a dearth of systematic studies
  undertaken on them. We wants to close this research gap and analyze
  this form of societal resilience to flood hazards with a historical perspective.
  </p>

  <p>
  The ERC project SToRies (Spatial-Temporal Dynamics of Flood Resilience) proposes
  an innovative resilience thinking (instead of risk thinking) in flood studies,
  and aims to play a pioneer role in the emerging research field of flood resilience
  science. As a primary case study, we will look at the historical Tea Horse Road area,
  a mountainous region of the Southeast Tibetan Plateau. The region is ideal for
  studying the spatial-temporal dynamics of flood resilience. With its well-documented
  history going back over 600 years, the case study makes it possible to investigate
  the phenomenon using a differentiated analysis at the level of household, community,
  city, and region and with regard to governance, technology, social structure, and
  culture. To this end, we will further develop agent-based models and social network
  analysis to detect the spatial patterns and temporal evolution of flood resilience,
  using historical archives, scientific literature, as well as statistical data and
  material from field surveys. Beyond the case study, the findings from the empirical
  study and the quantitative models will be transferred to other problem regions such
  as the Mekong Delta, thereby making an up-to-the-minute contribution to research i
  nto human-environment relations.
  </p>

  <div style="width:100%;overflow:hidden">
      <div style="width:45%;float:left;text-align:center">
       <img src="../assets/images/erc.png" width="100%">
      </div>
      <div style="width:45%;float:right;text-align:center">
        <img src="../assets/images/logo1.png" width="100%">
      </div>
     </div>
